body {
  font-family: sans-serif;
  background-color: lightblue;
}

h1 {
  font-size: 28px;
}

input {
  width: 100px;
}

label {
  cursor: pointer;
  display: block;
  text-align: right;
  width: 220px;
  margin-bottom: 5px;
}
